*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#F7F3EF;
color:#4A352A;
}

.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
url("IMG_20260702_222318_607.jpg");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.15);
}

.hero-content{
position:relative;
z-index:2;
color:#fff;
padding:20px;
}

.logo{
font-size:38px;
color:#E8C27A;
margin-bottom:20px;
}

.hero h1{
font-size:60px;
margin:20px 0;
}

.btn{
display:inline-block;
padding:14px 30px;
background:#B88A58;
color:#fff;
text-decoration:none;
border-radius:40px;
margin-top:20px;
}
