body{
margin:0;
font-family:Poppins,sans-serif;
background:#f7f3ef;
color:#4b3427;
}

.hero-cover{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:30px;
background:
linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.45)),
url("IMG_20260702_222318_607.jpg");
background-size:cover;
background-position:center;
color:white;
}

.hero-cover h1{
font-size:58px;
font-family:Georgia,serif;
margin:10px 0;
}

.hero-cover h3{
letter-spacing:5px;
font-weight:400;
}

.button{
display:inline-block;
margin-top:25px;
padding:15px 35px;
border-radius:40px;
background:#b58b5d;
color:white;
text-decoration:none;
font-weight:bold;
}

.section{
padding:60px 25px;
}

.card{
max-width:700px;
margin:auto;
background:white;
padding:30px;
border-radius:25px;
box-shadow:0 15px 40px rgba(0,0,0,.1);
}
